{# core/templates/core/password_reset_email.html #}
{# Ce template est utilisé pour le corps de l'e-mail de réinitialisation du mot de passe. #}
{# Le contenu sera interprété comme du texte brut pour l'e-mail #}

Cher(e) utilisateur/utilisatrice,

Vous avez demandé à réinitialiser le mot de passe pour votre compte sur notre plateforme.

Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet e-mail.

Cordialement,

L'Administration de l'École